.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: rgb(56, 45, 170);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.headerForm {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
}

.formInp {
  border: none;
  background-color: transparent;
  width: 300px;
}

*:focus-visible {
  outline: none;
}

.formBtn {
  border: none;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  background: #007bff;
  border-radius: 5px;
  padding: 6px 20px;
}

.formBtn:hover {
  background: #0056b3;
}

.formBtn:active {
  background: #004096;
}
